.p1{
    background-color: aqua;
    width: 600px;
    height: 550px;
}
.p11{
    background-color: aquamarine;
    width:150px;
    height:550px;
    float:left;
}
.p111{
    background-color: green;
    width:150px;
    height:100px;
}
.p112{
    background-color: rgb(45, 0, 128);
    width:150px;
    height:250px;
}
.p1121{
    background-color: yellow;
    width:75px;
    height:250px;
    float:left;
}
.p1122{
    background-color: brown;
    width:75px;
    height:250px;
    float:right;
}
.p113{
    background-color: rgb(128, 0, 73);
    width:150px;
    height:100px;
}
.p114{
    background-color: palevioletred;
    width:150px;
    height:100px;
}
.p1141{
    background-color: palevioletred;
    width:75px;
    height:100px;
    float:left;
}
.p1142{
    background-color: rgb(112, 216, 152);
    width:75px;
    height:100px;
    float:right;
}
.p12{
    background-color: red;
    width:150px;
    height:550px;
    float:left;
}
.p121{
    background-color: yellow;
    width:150px;
    height:350px;
}
.p1211{
    background-color: aqua;
    width: 75px;
    height:175px;
}
.p1212{
    background-color: grey;
    width: 75px;
    height:175px;
}
.p122{
    background-color: skyblue;
    width:150px;
    height:100px;
}
.p1221{
    background-color: red;
    width:150px;
    height:50px;
}
.p123{
    background-color: yellowgreen;
    width:150px;
    height:100px;
}
.p13{
    background-color: blue;
    width:300px;
    height:550px;
    float:right;
}
.p131{
    background-color: rgb(60, 0, 255);
    width:300px;
    height:50px;
}
.p132{
    background-color: rgb(0, 255, 110);
    width:300px;
    height:150px;
}
.p133{
    background-color: yellow;
    width:300px;
    height:350px;
}
.p1331{
    background-color: violet;
    width:150px;
    height:350px;
    float:left;
}
.p1332{
    background-color: blueviolet;
    width:150px;
    height:350px;
    float:right;
}
.p13321{
    background-color: blueviolet;
    width:150px;
    height:175px;
}
.p13322{
    background-color: aqua;
    width:150px;
    height:175px;
}
.p133221{
    background-color: brown;
    width:75px;
    height:175px;
    float: left;
}
.p133222{
    background-color:yellow;
    width:75px;
    height:85px;
    float:right;
}